.menu {
    height: $menuHeight;
    width: 100%;
    border-bottom: 1px solid $coarseWool;
    overflow: none;
    position: relative;
    font-family: $defaultFontFamily;

    .menu-wrapper {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .menu-logo-section {
            display: flex;
            align-items: center;
            width: 25%;

            .logo {
                height: $logoHeight;
                width: $logoWidth;
                margin-right: 10px;
            }

            .website-name {
                color: $white;
                display: flex;
                flex-direction: column;
                font-size: 16px;

                .website-name-span {
                    font-size: 22px;
                }
            }
        }

        .MuiBox-root {
            width: 70%;
        }

        .MuiTabs-flexContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            position: relative;
            width: 100% !important;
        }

        .MuiTab-root {
            text-transform: capitalize !important;
            font-size: 14px !important;
            font-weight: 400 !important;
            padding: 26px 16px;
            width: 15%;
            min-width: 120px;
            color: white !important;
        }

        .MuiTabs-indicator {
            background-color: $white !important;
            height: $tabHeight !important;
        }

        .wishlist-badge {
            position: absolute;
            top: 50%;
            right: 15px;
            background-color: $blackishGrey;
            color: $leadBelcher;
            padding: 2px 6px;
            border-radius: 50%;
        }

        .burger-menu {
            display: none;
        }
    }

    .burger-menu-section {
        position: absolute;
        background-color: rgb(15 15 15);
        top: 62px;
        width: 100%;
        height: auto;
        color: white;
        z-index: 10;
        display: flex;
        flex-direction: column;

        .burger-menu-link {
            cursor: pointer;
           padding: 15px 5%;
           border-bottom: 1px solid $coarseWool;
            
        }
    }
}

@media (max-width: 950px) {
    .menu {
        height: $tabletMenuHeight;

        .menu-wrapper {
            .menu-logo-section {
                width: 20%;

                .logo {
                    height: 45px;
                    width: 45px;
                }

                .website-name {
                    font-size: 14px;

                    .website-name-span {
                        font-size: 20px;
                    }
                }
            }

            .MuiBox-root {
                width: 85%;
            }

            .wishlist-badge {
                right: 5px;
            }
        }

    }
}


@media (max-width: 750px) {
    .menu {
        .menu-wrapper {
            .menu-logo-section {
                width: 10% !important;

                .logo {
                    height: 35px;
                    width: 35px;
                }

                .website-name {
                    display: none;
                }
            }

            .MuiBox-root {
                width: 90%;
            }


            .MuiTab-root {
                font-size: 14px !important;
                padding: 26px 8px !important;
                min-width: 100px;
            }

            .wishlist-badge {
                right: 5px;
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 650px) {
    .menu {
        .menu-wrapper {
            .menu-logo-section {
                width: 18% !important;

                .website-name {
                    display: flex;
                }

                .logo {
                    height: 35px;
                    width: 35px;
                }
            }

            .MuiTabs-flexContainer {
                display: none;
            }

            .burger-menu {
                display: block;
                color: white !important;
                outline: none;
                background: none;
                border: none;

            }

            .wishlist-badge {
                right: 2px;
            }
        }

    }
}

@media (max-width: 580px) {
    .menu {
        .menu-wrapper {
            .menu-logo-section {
                width: 30% !important;

                .logo {
                    height: 30px;
                }
            }

            .wishlist-badge {
                right: 0px;
                font-size: 10px;
            }
        }
    }
}