.list-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;

    .flex-wrap-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        overflow-x: scroll;
    }

    .flex-list {
        display: flex;
        align-items: center;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;

    }
}

.flex-list::-webkit-scrollbar {
    display: none;
}

.flex-wrap-list::-webkit-scrollbar {
    display: none;
}

