.list-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-x: scroll;
    width: 100%;

    .list-section-title {
        color: $white;
        font-family: $defaultFontFamily;
        padding: 10px 0;
        font-weight: 400;
        font-size: 22px;
    }

    .works-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 40px;
            width: 80%;

            .work-number {
                width: 10%;
                color: $blackishGrey;
            }

            .work-name {
                width: 50%;
                color: $blackishGrey;
                text-align: center;
                cursor: pointer;
            }

            .work-name:hover {
                color: $white;
            }

            .author {
                width: 40%;
                color: $blackishGrey;
                text-align: right;
            }
        }

    .flex-list {
        display: flex;
        align-items: center;
        width: 100%;
        overflow-x: scroll;
    }

    .flex-list::-webkit-scrollbar {
        display: none;
    }


}

.list-section::-webkit-scrollbar {
    display: none;
}



.flex-wrap-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 600px;
    overflow-y: auto;
    width: 100%;

    .list-item {
        min-width: 220px;
    }

}

.flex-wrap-list::-webkit-scrollbar {
    display: none;
}