.not-found {
     height: calc(100vh - $menuHeight);
     background: black;
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 18px;
     font-family:  $defaultFontFamily;
}