.container-list-title {
    color: $white;
    font-family: $defaultFontFamily;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 22px;
}

.flex-list {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
}

.flex-list::-webkit-scrollbar {
    display: none;
}
