.list-section-title {
    color: $white;
    font-family: $defaultFontFamily;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 22px;
    }

    @media (max-width: 800px) {
        .list-section-title {
            font-size: 20px !important;
            }
    }
    
    
    @media (max-width: 500px) {
        .list-section-title {
            font-size: 16px !important;
            }
    }

    .wrapper {
        height: 100%;
        width: 90%;
        margin: 0 auto;
        display: flex;
        position: relative;
    }