//Card
.MuiCard-root {
    width: 100% !important;
    height: 100% !important;
    background-color: transparent !important;
}

.MuiCardActionArea-root {
    width: 100% !important;
}

.MuiCardContent-root {
    padding: 8px 0px !important;
    font-family: $defaultFontFamily !important;
}

.MuiCard-root {
    background-color: transparent !important;
}
//