.wishlist-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;

    .wishlist-info-section {
        display: flex;
        align-items: center;
        align-items: center;
        width: 100%;
        cursor: pointer;
        opacity: 0.8;
    }

    .wishlist-image {
        height: 200px;
        width: 150px;
        border-radius: 14px;
        margin-right: 20px;
        cursor: pointer;
    }

    .wishlist-info {
        width: 65%;
        height: 100%;

        .wishlist-name {
            color: $white;
            font-size: 18px;
            margin: 10px 0 !important;
            font-weight: 400;
            text-transform: capitalize;
            width: 100%;
        }

        .wishlist-author,
        .wishlist-year {
            color: $blackishGrey;
            font-size: 16px;
            margin: 7px 0 !important;
            font-weight: 400;
            text-transform: capitalize;
            width: 100%;
        }

        .wishlist-description {
            color: $white;
            font-size: 14px;
            margin: 10px 0;
        }
    }

    .delete-btn {
        color: $blackishGrey;
        cursor: pointer;
    }

    .delete-btn:hover {
        color: $white;
    }
}


@media (max-width: 500px) {
        .wishlist-image {
            height: 160px !important;
            width: 120px !important;
            margin-right: 15px !important;
        }

        .wishlist-name {
            font-size: 14px !important;
            margin: 2px 0 !important;
        }

        .wishlist-author,
        .wishlist-year {
            font-size: 14px !important;
        }

        .wishlist-description {
            font-size: 12px !important;
        }
}