.author-card {
    height: 300px;
    width: 360px;
    margin-right: 15px;

    .author-image {
        height: 220px !important;
        // width: 100% !important;
        background-size: contain;
        border-radius: 14px !important;
    }

    .book-image {
        height: auto !important;
        width: 100% !important;
        background-size: cover;
    }
}

.author-card:hover {
    opacity: 0.8;
}

.css-xiduvl-MuiPaper-root-MuiCard-root {
    width: 100% !important;
    height: 100% !important;
    background-color: transparent !important;
}

.css-1oitmrd-MuiButtonBase-root-MuiCardActionArea-root {
    width: 100% !important;
    border-radius: 14px !important;

}


//Crd content
.css-46bh2p-MuiCardContent-root {
    padding: 8px 10px !important;
    font-family: $defaultFontFamily !important;
}

.card-name {
    color: $white;
    font-size: 15px;
    margin: 2px 0 !important;
    font-weight: 400;
    text-transform: capitalize;
}

.book-author,
.book-category {
    color: $blackishGrey;
    font-size: 12px;
}


.book-card {
    height: 380px;
    width: 220px;


    .book-image {
        height: 320px !important;
        width: 100% !important;
        background-size: cover;
        border-radius: 14px !important;
    }

    .book-image {
        height: 320px !important;
        width: 100% !important;
        background-size: cover;
        border-radius: 14px !important;
    }
}


