.author-card {
    height: 270px;
    width: 250px;
    margin-right: 5px;
    opacity: 0.8;


    .card-image {
        height: 180px !important;
        width: 140px !important;
        background-size: contain;
        border-radius: 14px !important;
    } 
}

.author-card:hover {
    opacity: 1;
}

.css-xiduvl-MuiPaper-root-MuiCard-root {
    width: 100% !important;
    height: 100% !important;
    background-color: transparent !important;

}

.css-1oitmrd-MuiButtonBase-root-MuiCardActionArea-root {
    width: 100% !important;
    border-radius: 14px !important;
}

//Card content
.css-46bh2p-MuiCardContent-root {
    padding: 8px 10px !important;
    font-family: $defaultFontFamily !important;
}

.css-6fm6rz-MuiPaper-root-MuiCard-root {
    background-color: transparent !important;
    border-radius: 14px !important;
}

.card-name {
    color: $white;
    font-size: 15px;
    margin: 7px 0 !important;
    font-weight: 400;
    text-transform: capitalize;
}

.card-subtitle,
.card-list-item {
    color: $blackishGrey;
    font-size: 12px;
}


.book-card {
    height: 330px;
    min-width: 200px;
    width: 220px;
    opacity: 0.8;
    margin-bottom: 2px;
    padding-bottom: 10px;

    .card-image {
        height: 240px !important;
        width: 180px !important;
        background-size: cover;
        border-radius: 14px !important;
    }
}

.book-card:hover {
    opacity: 1;
}