.author-card {
    height: 270px;
    width: 140px;
    opacity: 0.8;
    border-radius: 14px !important;
    margin-right: 15px;

    .card-image {
        height: 160px !important;
        width: 140px !important;
        background-size: contain;
        border-radius: 14px !important;
    }
}

.MuiCard-root {
    background-color: transparent !important;
}

.MuiCardContent-root {
    padding: 0 !important;
}

.author-list-card {
    flex: 1 1 calc(14% - 10px);
    max-width: calc(14.5% - 10px);
    height: 290px;
    width: 180px;

    .card-image {
        height: 220px !important;
        width: 100% !important;
        background-size: cover;
        border-radius: 14px !important;
    }
}

.card-name {
    color: $white;
    font-size: 15px;
    margin: 7px 0 !important;
    font-weight: 400;
    text-transform: capitalize;
    width: 90%;
}

.card-subtitle,
.card-list-item {
    color: $blackishGrey;
    font-size: 12px;
    width: 100%;
}


.book-card,
.book-list-card {
    height: 360px;
    opacity: 0.8;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;

    .card-image {
        height: 280px !important;
        width: 100% !important;
        max-width: 200px;
        background-size: cover;
        border-radius: 14px !important;
    }
}

.book-card {
    flex: 1 1 calc(33% - 16px);
    max-width: 30%;
}

.book-list-card {
    flex: 1 1 calc(16.66% - 10px);
    max-width: calc(17% - 10px);
}

.notable-work-card {
    height: 340px;
    min-width: 200px;
    width: 220px;
    opacity: 0.8;
    padding-bottom: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: none;

    .card-image {
        height: 260px !important;
        width: 200px !important;
        background-size: cover;
        border-radius: 14px !important;
    }

    .card-name {
        text-align: center;
    }
}

.author-card:hover,
.book-card:hover {
    opacity: 1;
}

@media (max-width: 1385px) {
    .book-card {
        height: 340px !important;

        .card-image {
            height: 250px !important;
        }
    }

    .author-card {
        height: 260px !important;
        width: 130px !important;

        .card-image {
            width: 130px !important;
            height: 170px !important;
        }
    }

    .author-list-card {
        height: 260px !important;

        .card-image {
            height: 170px !important;
        }

        .card-name {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

@media (max-width: 1200px) {
    .book-card {
        height: 315px !important;
        padding-bottom: 10px !important;

        .card-image {
            height: 210px !important;
        }
    }

    .card-name {
        font-size: 14px;
    }

    .card-subtitle,
    .card-list-item {
        font-size: 12px;
    }

    .author-card {
        height: 250px !important;
        width: 120px !important;

        .card-image {
            width: 120px !important;
            height: 160px !important;
        }
    }

    .book-list-card {
        height: 340px !important;

        .card-image {
            height: 230px !important;
        }
    }

    .author-list-card {
        flex: 1 1 calc(16.6% - 10px);
        max-width: calc(17% - 10px);

        .card-image {
            height: 170px !important;
        }

        .card-name {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

@media (max-width: 1050px) {
    .book-list-card {
        height: 320px !important;

        .card-image {
            height: 210px !important;
        }
    }

    .author-card {
        height: 240px !important;
        width: 110px !important;

        .card-image {
            width: 110px !important;
            height: 140px !important;
        }

        .card-list-item {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

@media (max-width: 880px) {
    .book-card {
        flex: 1 1 calc(25% - 10px) !important;
        max-width: calc(25% - 8px) !important;

        .card-image {
            height: 230px !important;
        }
    }

    .card-name,
    .card-subtitle {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .book-list-card {
        height: 270px !important;
        flex: 1 1 calc(20% - 10px);
        max-width: calc(20% - 10px);

        .card-image {
            height: 190px !important;
        }
    }

    .author-list-card {
        flex: 1 1 calc(20% - 10px);
        max-width: calc(20% - 10px);
    }

    .notable-work-card {
        height: 300px !important;
        min-width: 150px !important;
        width: 150px !important;
    
        .card-image {
            height: 240px !important;
            width: 150px !important;
        }
    }
}

@media (max-width: 780px) {
    .book-list-card {
        height: 275px !important;
        flex: 1 1 calc(25% - 10px);
        max-width: calc(25% - 10px);

        .card-image {
            height: 200px !important;
        }
    }

    .author-list-card {
        height: 240px !important;

        .card-image {
            height: 150px !important;
        }
    }
}

@media (max-width: 650px) {
    .book-card {
        height: 305px !important;

        .card-image {
            height: 200px !important;
        }
    }

    .card-name {
        font-size: 13px;
    }

    .card-subtitle,
    .card-list-item {
        font-size: 10px;
    }

    .book-list-card {
        height: 265px !important;

        .card-image {
            height: 180px !important;
        }
    }

    .author-card {
        height: 200px !important;
        width: 100px !important;
        margin-right: 8px !important;

        .card-image {
            width: 100px !important;
            height: 120px !important;
        }
    }

    .author-list-card {
        flex: 1 1 calc(25% - 10px);
        max-width: calc(25.5% - 10px);

        .card-image {
            height: 160px !important;
        }
    }
}

@media (max-width: 550px) {
    .book-card {
        flex: 1 1 calc(35% - 10px) !important;
        max-width: calc(34% - 10px) !important;
        height: 290px !important;

        .card-image {
            height: 190px !important;
        }
    }

    .book-list-card {
        height: 270px !important;
        flex: 1 1 calc(33.33% - 10px);
        max-width: calc(34% - 10px);

        .card-image {
            height: 200px !important;
        }
    }

    .author-list-card {
        flex: 1 1 calc(33% - 10px);
        max-width: calc(33.5% - 10px);

        .card-image {
            height: 180px !important;
        }
    }

    .notable-work-card {
        height: 300px !important;
        min-width: 130px !important;
        width: 130px !important;
    
        .card-image {
            height: 220px !important;
            width: 130px !important;
        }
    }
}

@media (max-width: 450px) {
    .book-card {
        flex: 1 1 50% !important;
        max-width: calc(50% - 10px) !important;
        height: 305px !important;

        .card-image {
            height: 220px !important;
        }
    }

    .author-list-card {
        height: 220px !important;

        .card-image {
            height: 150px !important;
        }
    }
}

@media (max-width: 400px) {
    .book-list-card {
        height: 270px !important;
        flex: 1 1 calc(50% - 10px);
        max-width: calc(51% - 10px);

        .card-image {
            height: 200px !important;
        }
    }

    .author-list-card {
        height: 210px !important;

        .card-image {
            height: 130px !important;
        }
    }
}


@media (max-width: 310px) {
    .book-card {
        flex: 1 1 50% !important;
        max-width: 48% !important;
        height: 290px !important;

        .card-image {
            height: 200px !important;
        }
    }
}