.css-1nrlq1o-MuiFormControl-root {
    background: linear-gradient(0deg, rgba(29, 42, 65, 1) 16%, rgba(5, 10, 21, 1) 100%) !important;
    border-radius: 14px;
    width: 20% !important;
    min-width: 200px !important;
    margin-right: 20px !important;
    height: 50px !important;
}

.css-nmluci-MuiFormLabel-root-MuiInputLabel-root {
    color: $blackishGrey !important;
    padding-left: 18px !important;
}

.css-r5in8e-MuiInputBase-root-MuiInput-root {
    color: $white !important;
}

.css-v6vh93-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input {
    padding: 6px 15px !important;
    text-transform: capitalize !important;
}

.css-19fz36k-MuiFormLabel-root-MuiInputLabel-root {
    padding: 0 15px !important;
    transform: translate(0, 16px) scale(1) !important;
    color: $blackishGrey !important;
}

.css-r5in8e-MuiInputBase-root-MuiInput-root::after {
    border-bottom: none !important;
}

@media (max-width: 925px) {
    .css-1nrlq1o-MuiFormControl-root {
        min-width: 180px !important;
    }
}

@media (max-width: 785px) {
    .css-1nrlq1o-MuiFormControl-root {
        min-width: 40% !important;
    }

    .css-nmluci-MuiFormLabel-root-MuiInputLabel-root {
   font-size: 13px !important;
    }

    .css-v6vh93-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input {
        font-size: 13px !important;
        padding: 8px 15px !important;
    }
}

@media (max-width: 650px) {
    .css-1nrlq1o-MuiFormControl-root {
        min-width: 48% !important;
        margin-right: 0 !important;
    }
}