.home-page {
    display: flex;
    justify-content: space-between;
    height: calc(100% - $menuHeight);
    padding-top: 40px;
    height: 80%;

    .alert-section {
        position: absolute !important;
        top: 2%;
        width: 40%;
        right: 30%;
        background-color: rgb(22 11 11) !important;
    }

    .poets-section {
        width: 48%;
        border-radius: 14px;
        padding-left: 30px;

        .selected-poet-section {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;

            .selected-poet-title {
                color: $white;
                font-size: 60px;
                padding: 0 20px;
                font-family: $titleFontFamily;
                width: 50%
            }

            .selected-poet-image {
                width: 50%;
                height: 500px;
                border-radius: 14px;
            }
        }

        .poets-list {
            display: flex;
            width: 100%;
            overflow-x: scroll;
            display: flex;

             .poet-section {
               margin-right: 8px;
        }
        }

        .poets-list::-webkit-scrollbar {
            display: none;
        }

       

        .active-poet-section {
            display: flex;
            align-items: center;
            margin-right: 20px;
            cursor: pointer;

            .poet-name {
                text-align: center;
                font-size: 22px;
                width: 120px;
            }
        }

        .works-section {
            margin-top: 20px;

            .work-element {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: $blackishGrey;
                width: 70%;
                margin: 10px 0;;
            }

            .author,
            .work-name {
                cursor: pointer;
            }

            .author:hover,
            .work-name:hover {
                color: $white;
            }
        }
    }

    .authors-books-section {
        width: 45%;
    }
}

.poet-image {
    width: 70px;
    height: 80px;
    border-radius: 14px;
    background-size: cover;
}

